<!DOCTYPE html>
<html lang="en">
   {{>head}}
   <body>
      <div class="container">
         <div class="row">
            {{>header}}
            <div class="col-md-9 content">
               <div class="dashhead">
                  <div class="dashhead-titles">
                     <h6 class="dashhead-subtitle">Dashboards</h6>
                     <h2 class="dashhead-title text-white">Overview</h2>
                  </div>
               </div>

               <div class="hr-divider my-4">
                  <h3 class="hr-divider-content hr-divider-heading text-white">Quick stats</h3>
               </div>
               <div class="row statcards text-xs-center text-md-left" id="quickStatsHeader">
                  <div class="col-6 col-md-6 statcard mb-4"  style="text-align: center;">
                     <h3 class="statcard-number text-success">
                        <span id="top-coin-mv">0</span>
                        <small class="delta-indicator delta-positive" id="top-coin-gl">0.00%</small>
                     </h3>
                     <span class="statcard-desc" id="top-coin">Top Gainer</span>
                  </div>
                  <div class="col-6 col-md-6 statcard mb-4"  style="text-align: center;">
                     <h3 class="statcard-number text-danger">
                        <span id="loss-coin-mv">0</span>
                        <small class="delta-indicator delta-negative" id="loss-coin-gl">0.00%</small>
                     </h3>
                     <span class="statcard-desc" id="loss-coin">Worst Coin</span>
                  </div>
               </div>
               <div class="row statcards text-xs-center text-md-left" id="noTradesHeader" style="display: none">
                  <div class="col-12 col-md-12 statcard mb-4"  style="text-align: center;">
                     <span class="statcard-desc">Found no trades. Please add new trade for stats.</span>
                  </div>
               </div>

               <hr class="mt-3">
               
               <div class="row text-center mt-5" id="pieChartsHeader">
                  <div class="col-md-6 mb-6 mb-md-6">
                     <div class="w-6 mx-auto">
                        <canvas
                           class="ex-graph"
                           width="300" height="300"
                           id="costVsTotal"
                           >
                        </canvas>
                     </div>
                     <strong class="text-white">Investment</strong>
                     <h4 class="text-white">Cost vs Total</h4>
                  </div>
                  <div class="col-md-6 mb-6 mb-md-6">
                     <div class="w-6 mx-auto">
                        <canvas
                           class="ex-graph"
                           width="300" height="300"
                           id="mvVsTotal"
                           >
                        </canvas>
                     </div>
                     <strong class="text-white">Current Value</strong>
                     <h4 class="text-white">Market Value vs Total</h4>
                  </div>
               </div>

               <div class="hr-divider mt-5 mb-3" id="plStatementHr">
                  <h3 class="hr-divider-content hr-divider-heading text-white">Gain - Loss Statement</h3>
               </div>
               <div class="row" id="plStatementHeader">
                  <div class="table-responsive">
                     <table class="table text-white">
                        <thead>
                           <tr>
                              <th>Coin</th>
                              <th>Traded Price</th>
                              <th>Volume</th>
                              <th>Cost</th>
                              <th>Market Price</th>
                              <th>Market Value</th>
                              <th>GL</th>
                              <th>GL%</th>
                           </tr>
                        </thead>
                        <tbody id="tradeDetailsTableBody">
                        </tbody>
                     </table>
                  </div>
               </div>

               <div class="hr-divider mt-5 mb-3" id="plBreakdownHr">
                  <h3 class="hr-divider-content hr-divider-heading text-white">Gain - Loss Breakdown</h3>
               </div>
               <div class="row" id="plBreakdownHeader">
                  <canvas
                     class="ex-graph"
                     width="800" height="400"
                     id="plBarChart"
                     >
                  </canvas>
               </div>
              
              <div id="plBreakdownCoinWiseHeader">
                <hr class="mt-3">
              </div>
            </div>
         </div>
      </div>
      <script src="/js/jquery.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/tether.min.js"></script>
      <script src="/js/chart.js"></script>
      <script src="/js/chart.zoom.js"></script>
      <script src="/js/tablesorter.min.js"></script>
      <script src="/js/toolkit.js"></script>
      <script src="/js/application.js"></script>
      <script src="/js/custom/index.js"></script>
      <script src="/js/custom/notification.show.js"></script>
   </body>
</html>